* {
    padding: 0;
    margin: 0;
}

.font-space {
    font-family: "Space Grotesk", serif;
}


/* =========textColur */
.text-black{
    color: black;
}
.text-green{
    color: #B9FF66;
}
.text-white{
    color: #FFFFFF;
}
/* ========Background colour */
.bg-green {
    background-color: #B9FF66;
}
.bg-gray{
    background: #F3F3F3;
}
.bg-navy{
    background-color: #191A23;
}
.bg-black{
    background-color:black;
}
.border-radius{
    border-radius: 50px;
}
/* ============Button */
.cous-btn {
    padding: 20px 35px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 14px;
    border: none;
    background-color: #191A23;
    font-weight: 400;
}
/*+++++> box Contianner */
.content-box {
    max-width: 1500px;
    padding: 0 20px;
    margin: auto;
}
/*================ first Banner Section ===============*/
.hero-section {
    padding: 70px 0;
}

.hero-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-div h1 {
    font-size: 60px;
    max-width: 530px;
    font-weight: 500px;
}

.article-div p {
    font-size: 20px;
    font-weight: 400;
    max-width: 500px;
    padding: 30px 0px 30px 0px;
    line-height: 28px;
}

.hero-items img {
    width: 100%;
}

/*============= logo section =========*/
.logo-section {
    padding-bottom: 55px;
}

.company-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px
}

.company-logo img{
    width: auto;
    height: 48px;
}

/* ========services======== */
.services-sec{
    padding: 70px 0  ;
}

.service-art{ 
    display: flex;
    align-items:center;
    gap: 50px;
}

.service-art h2{
    font-size:40px;
    background:#B9FF66;
    padding:0 7px;
    border-radius: 10px;
}

.service-art p{
    max-width: 580px;
    font-size: 18px;
}

        /* ===========card-section========== */


.card-section{
    padding-bottom: 70px 0;
}

.parent-card{
    display: grid;
    grid-template-columns: auto auto;
    gap:40px;
}

.card{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border-radius: 50px;
    /* box-shadow: 10px 5px 5px #191A23; */
    border: 1px solid #191A23;
}
.drop-shadow{
    filter: drop-shadow(0px 5px 0 #191A23);
}
.bg-green {
    background-color: #B9FF66;
}

.card-article{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.card-article h2{
    padding: 0  7px;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 500;
}

.card-article h3{
    width: 173px;
    padding: 0  7px;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 500;
}
.bg-white{
    background-color: #FFFFFF;
}
.arrow-div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.arowIcon{
    display:inline-block ;
    
    width: 40px;
    height: 40px;
    text-align: center;
    transform: rotate(50deg);
    border-radius: 100%;
}
.arowIcon i{
    line-height: 40px;
    font-size: 25px;
}
.arrow-div a{
    display: inline-block;
    text-decoration: none;
    font-size:20px;
}
.card-img{
    align-self: center;
}
.card-img img{
    width: 100%;
}

  
/* ========== let's make things========= */

.lets{
    padding: 0px 70px;
    max-height:347px ;
}
.lets-article h2{
    font-size: 30px;
}

.lets-article p{
    font-size: 18px;
    max-width:500px ;
    height:auto ;
    padding:26px 0 ;
}
.emoji-div img{
    max-width: 100%;
}

 /* =========== Case Card=========== */

.case-card-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 70px;
    border-radius: 50px;
    
}
.border-left{
    border-left: 1px solid white;
    padding-left:64px ;
}

.case-card p{
    max-width:286px;
    font-size: 18px;
    padding-bottom: 20px;
}









/* ======================== Responsive ============================== */

@media only screen and (max-width: 768px) {
    .hero-items {
        flex-direction: column-reverse;
    }
    .article-div h1{
        font-size: 2.5rem;
    }
    .article-div p{
        font-size: 16px;
    }
    .cous-btn{
       width: 100%;
       margin: 0 auto;
    }
    
    .company-logo img {
        width: auto;
        height: 35px;
    }
    .service-art{
        flex-direction: column;
    }
    .parent-card{
        grid-template-columns: auto ;
    }
    .card{
        flex-direction: column;
    }
    .card-img{
        max-width: 70%;
    }
    .card-article h2{
        font-size: 25px;
    }
    .card-article h3{
        font-size: 20px;
    }
    .emoji-div img{
        display: none;
    }
    .lets{
        padding:50px;
    }
    {
        grid-auto-rows: auto auto auto;
        gap: 50px;
       
        padding: 0px;
        overflow: hidden;
    }
    .case-card{
        background-color:#191A23;
        padding: 50px;
    }
    .case-card p{
        font-size: 16px;
    }
    .case-card-section {
        display: none;
    }     
  }